.outline {
  border-bottom: 2px solid #000;
  border-top: 2px solid #011b1b;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  width: 500px;
  padding: 2.50rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.xjy {
  color: #fff;
  font-size: .99rem;
}

.pricing-body {
  margin: 0 20vw 0 20vw;
}

.no-inclusive {
  text-decoration: line-through;
  opacity: 0.5;
}

.plan-header {
  font-size: 1.5rem;
  font-weight: 800;
}

.plan-heading {
  font-size: 1.32rem;
  font-weight: 600;
}

.plan-price {
  font-weight: 700;

}

.plan-footer {
  font-size: .35;
  margin-top: 0 auto;
}